.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 78px;
  border: 1px solid #efefef;
  padding: 0 25px;
  background: #f8f8f8;
}

.tabItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.tabItem span {
  margin-top: 3px;
  font-size: 14px;
  color: #333;
}
.tabItem .activeNav {
  color: #50bf70;
}
